{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "scripts-markup-styles",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}